<div class="access-denied-page">
    <h1 class="text-danger">Access Denied</h1>
    <img src="~/image/accessdenied.jpg" alt="Access Denied" class="access-denied-image" />
    <a asp-action="Login" asp-controller="User" class="btn btn-primary mt-3">Click Here</a>
</div>


